.git

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Translations
*.mo
*.pot

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE config
.idea/
.vscode/
.fleet/


# Added by cargo

/target

# Postgres

data/postgres-data/**

# Redis

data/redis-data/**
!data/redis-data/.gitkeep

machine_id
log/

# Server SQLite db
*.db
*.db-shm
*.db-wal