# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Translations
*.mo
*.pot

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE config
.idea/
.vscode/
.fleet/


# Added by cargo

/target

# data mapped from docker
docker/data

server_info.json
log/
*.log

# Server SQLite db
*.db
*.db-shm
*.db-wal

# file storage
files_storage/*
server/files_storage/*

# pref
perf.data*
flamegraph.svg
