[workspace]
members = [
    "server",
    "server/migration",
    "derive",
    "server/server_manager",
    "client/pc/src/rmodule",
    "base",
]
resolver = "2"

[profile.release]
lto = true
codegen-units = 1
strip = true

[workspace.package]
version = "0.1.0"
edition = "2021"
rust-version = "1.81"
