# Assign the config file of a database, relative to this config file
db_cfg = "database.toml"
# Assign the config file of a redis database, relative to this config file
redis_cfg = "redis.toml"
# Assign the config file of a rabbitmq, relative to this config file
rabbitmq_cfg = "rabbitmq.toml"
user_setting = "user_setting.toml"
http_cfg = "http.toml"
# The duration of cleaning the files which are out-of-date
auto_clean_duration = "0 0 0 * * *"
# The total file size limit of a single user
user_files_limit = "100MiB"
# A single user's The number of the friend's limit
friends_number_limit = 5000
# The expiry time in days of the verification request
verification_expire_time = "3d"
# The expiry time in hours of the user defined status
user_defined_status_expire_time = "24h"
# The path of the users' files storage
files_storage_path = "../files_storage/"
# How long will the files be kept
files_save_time = "10d"
# Whether this is started in Single Instance Mode. If true, some actions like cleaning up files will be performed regularly
# You can set it when you have only one server instance, or you can set this option in only one instance(not recommended)
single_instance = true
# In multiple instance mode, choose a node to be the leader node
leader_node = true
# Log clean duration
log_clean_duration = "30d"
# Keep Log Duration when cleaning
log_keep = "3d"
# E2EE room key available duration
room_key_duration = "30d"
# Require email verification for new user registrations
# When set to true, users must verify their email address before their account is fully activated
# When set to false, users can register without email verification (default behavior)
require_email_verification = false
# ungister policy includes two options: "disable", "delete"
# "disable" means to disable the account and keep the data
# "delete" means to delete the account and all related data
unregister_policy = "disable"
# User will be joined to a default session after registration
# if the session ID does not exist, server will create one with the given session ID
# default_session = 0

[password_hash]
# The memory size in 1 KiB blocks. Between 8*`p_cost` and (2^32)-1
m_cost = 19456
# The number of iterations. Between 1 and (2^32)-1
t_cost = 2
# The degree of parallelism. Between 1 and (2^24)-1
p_cost = 1
# The size of the KDF output in bytes
output_len = 32

[db]
# The size of one page to fetch a message
fetch_msg_page_size = 2000

[debug]
debug_console = true
# Warning: don't expose it to the world
debug_console_port = 7776

[voip]
empty_room_keep_duration = "1h"

[oauth]
# Enable GitHub OAuth authentication
enable = false
# GitHub OAuth configuration
# Create an OAuth App in GitHub Developer Settings: https://github.com/settings/developers
github_client_id = ""
github_client_secret = ""
# Note: The redirect URI is automatically generated based on your server's base URL
# Example: http://localhost:7777/oauth/github/callback
