[package]
name = "ourchat-plugin-sdk"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["rlib"]

[dependencies]
# Serialization
serde.workspace = true
serde_json = { workspace = true, features = ["std"] }

# Error handling
anyhow.workspace = true

# Logging
tracing.workspace = true
