cargo-features = ["edition2024"]
[package]
name = "derive"
version = "0.1.0"
edition = "2021"

[dependencies]
syn = { version = "2.0", features = ["extra-traits", "full"] }
quote = "1.0"
proc-macro2 = "1.0"

[lib]
proc-macro = true
