name: Client CI

on:
  push:
    branches: ["main", "dev", "ci_fix"]
  pull_request:
    branches: ["main", "dev"]
permissions:
  contents: read
  pull-requests: write
  actions: write

env:
  CARGO_TERM_COLOR: always

jobs:
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          concurrent_skipping: 'always'
          paths_ignore: '["server/**"]'

  common-ci:
    needs: pre_job
    if: needs.pre_job.outputs.should_skip != 'true'
    runs-on: ubuntu-latest

    steps:
      - name: Set SSH Key
        run: echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
      - uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          version: "32.x"
      - name: Flutter Init
        run: cd client && flutter pub get
      - name: Flutter Fmt
        run: |
          cd client
          dart format lib/l10n/app_localizations.dart
          dart format ./ --set-exit-if-changed
      - name: Grpc generate
        run: dart pub global activate protoc_plugin 23.0.0 && python script/generate.pb.dart.py
      - name: Drift generate
        run: cd client && dart run build_runner build
      - name: Flutter Check
        run: cd client && flutter analyze
