name: ServerMacos

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

# Minimum permissions required by skip-duplicate-actions
permissions:
  actions: write
  contents: read

jobs:
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          concurrent_skipping: "always"
          paths_ignore: '["client/**"]'

  mac_test:
    needs: pre_job
    if: needs.pre_job.outputs.should_skip != 'true'
    runs-on: macos-15-intel

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - name: Setup Docker on macOS
        uses: douglascamata/setup-docker-macos-action@main
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install sccache
        run: brew install sccache
      - name: Set Up Environment
        run: docker compose -f docker/compose.devenv.yml up -d
      - name: Test
        env:
          SCCACHE_OSS_BUCKET: ${{ secrets.SCCACHE_BUCKET }}
          SCCACHE_OSS_ENDPOINT: ${{ secrets.SCCACHE_OSS_ENDPOINT }}
        run: |
          export SCCACHE_OSS_BUCKET=$SCCACHE_OSS_BUCKET
          export SCCACHE_OSS_ENDPOINT=$SCCACHE_OSS_ENDPOINT
          export SCCACHE_OSS_NO_CREDENTIALS=1
          export RUSTC_WRAPPER=/usr/local/bin/sccache
          
          export OURCHAT_CONFIG_FILE=$(pwd)/config/ourchat.toml
          cargo test
